<!DOCTYPE html>
<html>

<head>
    <title>CS179G Project</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div id="homepage-title">
        <h1>Github Bug Report Analytics for Facebook React</h1>
    </div>

    <div id="homepage-display-btn-container">
        <form action='actionUrl' method='GET'>
            <input id="homepage-search-bar" type="text" name="search">
            <button id="homepage-display-btn" type='submit'>Display</button>
        </form>
    </div>

    <div">
        <form action='getTimeDifferencesGraph' method='GET'>
            <button id="homepage-display-btn" type='submit'>Time Differences</button>
        </form>
    </div>

    <div">
    <form action='getAvgStatusTimeDifferencesGraph' method='GET'>
        <button id="homepage-display-btn" type='submit'>Average Status Time Difference</button>
    </form>
</div>

</body>

</html>